## Task 1: Create Database using SQLite

In [1]:
import sqlite3

In [2]:
# connect sqlite database, this return a Connection Object
conn = sqlite3.connect('INSTRUCTOR.db')

In [3]:
# create a Cursor Object
cur_obj = conn.cursor()

## Task 2: Create a Table in the Database

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table.png" align="center">

In [4]:
cur_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [5]:
# create the INSTRUCTOR table in the database
table = '''create table if not exists INSTRUCTOR (ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));'''

# the execute() function of the cursor object, does NOT return the result set, it just simply execute the SQL query
cur_obj.execute(table)

print('Table is ready')

Table is ready

In [6]:
# insert data into the table
cur_obj.execute('''insert into INSTRUCTOR
                    values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
                            (2, 'Raul', 'Chong', 'Markham', 'CA'),
                             (3, 'Hima', 'Vasudevan', 'Chicago', 'US');''')

In [7]:
# use: fetchall() function of the cursor object to display all data of the result set
statement = '''select * from INSTRUCTOR;'''
cur_obj.execute(statement)

print('All the data')

output_all = cur_obj.fetchall()
for row in output_all:
    print(row)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [8]:
# use: fetchmany(numberOfRows) function of the cursor object to display/fetch a few rows from the result set table
statement = '''select * from INSTRUCTOR;'''
cur_obj.execute(statement)


print('All the data')
output_many = cur_obj.fetchmany(2)
for row_many in output_many:
    print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [9]:
statement = '''select fname from INSTRUCTOR;'''
cur_obj.execute(statement)

print('All the data')
output_fname = cur_obj.fetchall()
for _fname in output_fname:
    print(_fname)

All the data
('Rav',)
('Raul',)
('Hima',)

In [10]:
# update the data in the table
query_update = '''update INSTRUCTOR
                    set city = 'Moosetown'
                    where fname = 'Rav'; '''
cur_obj.execute(query_update)

In [11]:
statement = '''select * from INSTRUCTOR;'''
cur_obj.execute(statement)

print('All the data')
output_update = cur_obj.fetchmany(2)
for item in output_update:
    print(item)

All the data
(1, 'Rav', 'Ahuja', 'Moosetown', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

## Task 3: Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [12]:
import pandas as pd

# #retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from INSTRUCTOR", conn)

# print the dataframe
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  Moosetown    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [13]:
# print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [14]:
df.shape

(3, 5)

## Task 4: Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [15]:
cur_obj.close()
conn.close()